.container-topbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.componet-container {
  background-color: var(--black);
  overflow: auto;
  height: 100%;
  padding: 0 20px 10px 20px;
}

.componet-container::-webkit-scrollbar {
  width: 6px;
}

.componet-container::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}

.componet-container::-webkit-scrollbar-thumb:hover {
  background: var(--gray-w);
}
.componet-container{
  -webkit-mask: -webkit-gradient(
    linear,
    left 3%,
    left 0%,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

.top-bar {
  position: relative;
  padding: 6px 10px;
  margin: 0 0 3px 0;
  background-color: rgba(255, 255, 255, 0.11);
}

.toggle-btn{
  display: none;
}
.toggle-btn:hover, .collapse-btn:hover{
  color: var(--blue);
}
.toggle-btn, .collapse-btn{
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 4px 5px;
  color: var(--white);
  font-size: 22px;
  transition: all 0.3s ease-out;
  background-color: transparent;
}
.collapse-btn.active{
  transform: rotate(180deg);
}
.collapse-btn{
  display: block;
}

@media (max-width: 900px) {
  .toggle-btn {
    display: block;
  }
  .collapse-btn {
    display: none;
  }
}


