.timeline-container {
	padding: 40px 0 20px 0;
}

.timeline-items {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.timeline-items::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--black-w);
	left: calc(50% - 1px);
}

.timeline-item {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-item:last-child {
	margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
	padding-right: calc(50% + 30px);
	text-align: justify;
	text-align-last: right;
}
.timeline-item:nth-child(odd) h3 {
	text-align: right;
}
.timeline-item:nth-child(even) h3 {
	text-align: left;
}

.timeline-item:nth-child(even) {
	padding-left: calc(50% + 30px);
	text-align-last: left;
	text-align: justify;

}

.timeline-dot {
	height: 16px;
	width: 16px;
	background-color: rgb(184, 184, 184);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top: 10px;
}

.timeline-date {
	font-size: 18px;
	color: rgb(184, 184, 184);
	margin: 6px 0 15px;
}

.timeline-content {
	background-color: var(--black-w);
	padding: 30px;
	border-radius: 5px;
}

.timeline-content h3 {
	font-size: 20px;
	color: var(--blue);
	margin: 0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-content p {
	color: var(--white-b);
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;

}

@media(max-width: 767px) {
	.timeline-items::before {
		left: 7px;
	}

	.timeline-item:nth-child(odd) {
		padding-right: 0;
		text-align-last: left;
	text-align: justify;
	}

	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even) {
		padding-left: 37px;
	}

	.timeline-dot {
		left: 0;
	}
}