.title{
    font-size: 30px;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 0px;
}
.sub-title{
    margin-top: 5px;
    font-size: 25px;
    font-weight: 300;
    color: var(--white-b);
    margin-bottom: 5px;
}
.default-padding{
    padding: 40px 20px;
}

.text{
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 300;
    color: var(--white-b);
}
.a-text{
    text-decoration: none;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 300;
    color: var(--blue);
}
.final-separator{
    border: 1px solid var(--black-w);
    width: 93%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.separator{
    border: 1px solid var(--gray-w);
}

/* .closeUp{
    margin-top: -15px;
} */