@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.main{

    /* colors for the app */
    --white: #fff;
    --white-b: rgba(255, 255, 255, 0.7);
    
    --gray-w: rgba(255, 255, 255, 0.5);
    --gray:rgba(255, 255, 255, 0.3);
    --gray-b:rgba(255, 255, 255, 0.16);
    
    --black-ww: rgba(255, 255, 255, 0.12);
    --black-w: rgba(255, 255, 255, 0.08);
    --black: #121212;

    --blue: #0096FF;
    /* end of colors for the app */

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    height: 100%;
    color: var(--white);
    background-color: var(--black);
}